body { 
    text-align: center;
    color: black;
}
.it {
    margin-bottom: 50px;
    margin-right: 100px;
}
button {
    color: white;
    background-color:  #0099ff;
    font-size: 20px;
    border-radius: 20px;
    margin-top: 5px;
    
}
input {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;

outline: none;
	background:none ;

}
div { border:solid black; 
    margin-top: 50px;
    background-color: white;
}
h2{
    color:  #0099ff;
    margin-top: 20px;
}
ul{
    list-style: none;
}
